{% extends "header.html" %}

{% block content %}
{{ super() }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Text Your Friend To Dine Together</h1>
            <hr>
            {% if not session['logged_in']%}
            <p>Search Your Favorite Menu and Text Your Friend To Dine Together!</p>
            <a href="{{ url_for('signup') }}" class="btn btn-primary btn-xl page-scroll">Sign Up</a>
            {% endif %}
        </div>
    </div>
</header>

{% endblock content %}

